@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Songs: */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

#chapter-2 blockquote{
	text-align: center;
}

#chapter-2 blockquote p{
	font-variant-caps: small-caps;
	text-indent: 0;
}

#chapter-2 blockquote p b{
	font-size: larger;
	text-transform: uppercase;
}

#chapter-2 blockquote p em{
	font-style: normal;
	font-variant-caps: all-small-caps;
}

#chapter-6 blockquote{
	border: 1px solid currentColor;
	font-size: larger;
	padding: 1em 0;
	text-align: center;
	text-transform: uppercase;
}

#chapter-6 blockquote p{
	text-indent: 0;
}

#chapter-6 blockquote p b{
	font-size: smaller;
	font-variant-caps: small-caps;
	text-transform: none;
}

#chapter-7 table{
	border: none;
	margin: 1em auto;
}

#chapter-7 table tfoot td{
	border-top: 1px solid currentColor;
}

#chapter-7 table th{
	font-weight: normal;
	text-align: left;
}

#chapter-7 table td{
	text-align: right;
}

#chapter-10 blockquote{
	text-align: center;
}

#chapter-10 blockquote p{
	font-variant-caps: small-caps;
	text-indent: 0;
}

#chapter-10 blockquote p em{
	font-style: normal;
	font-variant-caps: all-small-caps;
}

#chapter-10 blockquote#final{
	text-align: revert;
}

#chapter-12 blockquote.placard{
	text-align: center;
	text-transform: uppercase;
}

#chapter-18 blockquote{
	font-variant-caps: small-caps;
	text-align: center;
}
